.subscribe_section{
    display: flex;
    flex-direction: row;
    height: 18vh;
    border: 1px solid red;
    margin: 70px 70px;
    text-align: center;
    padding: 30px 30px;
    background-color:#fff;
    border: none;
    border-radius: 10px;
    
}

.subscribe_section h1{
    font-size: 3rem;
    color:cornflowerblue;
}
.subscribe_section input[type=email]{
    height: 50px;
    background-color: darkorange;
    border: none;
    border-radius: 30px;
    margin-top: 45px;
    margin-left: 60px;
    width: 400px;
    padding-left: 100px;

}
.main-footer{
    background-color: #d5d4cf;
    height: 700px;
    padding-top: 150px;
}
.contact-section{
    margin-left: 80px;
    /* display: flex; */
}
.icon{
    margin-left: 40px;
}
.payment-section{
    height: 20vh;
    width: 1380px;
    /* justify-content: center;
     */
     margin-left: 80px;
    background-color: navajowhite;
}
.footer-mid-section{
    height: 300px;
    display: flex;
}
.footer-mid-section h1{
    margin-left: 100px;
    margin-top: 50px;
}
.footer-mid-section p{
    margin-left: 80px;
    margin-top: 50px;
}
.footer-mid-section ul{
list-style: none;
}
.followus-section{
    display: flex;
}